
body{
    background-color:#1e2130;
    margin: 0px;
    /*border: 5px solid black;*/
}

header{
    padding: 20px;
}
.pth_button{
    background-color: #1e2130;
    color: white;
    padding: 20px;
    margin: 20px;
    border: 2px solid;
    border-radius: 20px 20px 20px 20px; 
    box-shadow:10px 5px 5px gray; 
}
#main_block{
    display: flex;
    flex-direction: raw;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px #91dfd2;
}
#Block_left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1; 
    max-width: 400px;
}
#left_selector{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #161a28;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid;
    border-radius: 20px 20px 20px 20px; 
    box-shadow:2px 2px 5px #91dfd2; 
}
#solver_radio{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
}
#Emotion_radio{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
}
#DataSet_dropdown{
    color: 161a28;
    font-size: 20px;
}
#Block_right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 4;
    justify-content: space-around;
}
/* #91dfd2; tour buton color*/
/*scroll bar color #4b5460;*/
/* Block 1 */
#Block_1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    flex: 1;
}
#Block_1_Article_1{
    background-color: #161a28;
    border: 2px solid; 
    border-radius: 20px 20px 20px 20px; 
    flex: 2;
    padding: 5px;
    margin: 5px;
    box-shadow:2px 2px 5px #91dfd2; 
}
#Block_1_Article_2{
    background-color: #161a28;
    border: 2px solid;
    border-radius: 20px 20px 20px 20px; 
    flex: 1;
    padding: 5px;
    margin: 5px;
    box-shadow:2px 2px 5px #91dfd2; 
}
.Tab{
    background-color:  #91dfd2;
}

/* Block 2 */
#Block_2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}
#Block_2_Article_1{
    /*display: flex;
    flex-direction: column;*/
    justify-content: center;
    background-color: #161a28;
    border: 2px solid;
    border-radius: 20px 20px 20px 20px; 
    padding: 10px;
    margin: 5px;
    flex: 1;
    box-shadow:2px 2px 5px #91dfd2; 
}

#app-homePage{
    /*background-image: url("./Images/roue_des_emotions.png");*/
    height: 100vh;
    width: 100vw;
    margin-top: 0x;
}
#modal_Home{
    font-family: "Times New Roman", Times, serif;
}
#Block_home_Page{
    display: flex;
    flex-direction: raw;
    justify-content: space-around;
}
#home_page_left{
    background-color: #161a28;
    border: 2px solid;
    border-radius: 20px 20px 20px 20px; 
    margin: 5px;
    padding: 5px;
    flex:1;
}
#button{
    background-color:  #91dfd2;
}
#output_container_button{
    color: white;
}
#output_container{  
    color: white;

}
#home_page_right{
    justify-content: center;
    margin: 5px;
    padding: 5px;
    flex:1;
}
#div_roue{
    justify-content: center;
}
#img_roue{
    justify-content: center;
    margin: 5px;
    padding: 5px;
    width: 40vw;
    width: 40vw;
}
